
// header styles

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 70px;
	padding: 0 20px;
	background: $base-color;
	z-index: 9;
	@include clearfix;

	@media #{$small} {
		position: relative;
		padding: 0;
		background: $white;
	}
}