.article {
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid $base-border-color;
	&:last-child{
		border-bottom: none;
	}
}

	.article__header {
		margin-bottom: 10px;
	}

	.article__title {}

	.article__date {
		font-size: $base-font-size - 2;
	}

	.article__image {
		float: left;
		margin-right: 10px;
	}